<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Page</title>
    <link href="//unpkg.com/layui@2.8.17/dist/css/layui.css" rel="stylesheet">
    <script src="//unpkg.com/layui@2.8.17/dist/layui.js"></script>
</head>
<body style="padding: 20px;">

</body>

<script>
    const domain = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port;

    // 500ms run
    window.setInterval(function () {
            fetch(domain + "/chat/message_list", {method: "GET"})
            .then(response => response.text())
            .then(result => {
                const message_data_list = JSON.parse(result).data;
                if (message_data_list === []) {
                    document.body.innerHTML = `
                    <div class="layui-panel" id="message-panel" style="margin-bottom: 10px; padding: 10px; border: 0; border-radius: 5px; color: black; background-color: rgba(0, 0, 50, 0.3);">
                        <p>No Message...</p>
                    </div>`;
                } else {
                    for (const message_data of message_data_list) {
                        fetch(domain + "/user/user_info_by_id/" + message_data.user_id, {method: "POST"})
                        .then(response => response.text()).then(result => {
                                const user_info = JSON.parse(result).data;
                                document.body.innerHTML += `
                                <div class="layui-panel" id="message-panel" style="margin-bottom: 10px; padding: 10px; border: 0; border-radius: 5px; color: black; background-color: rgba(0, 0, 50, 0.3);">
                                    <p style="font-weight: bold; color: cornflowerblue; display: inline-block; margin-right: 3px;">` + user_info.nikename + ":</p><p style='font-weight: bold; display: inline-block;'>" + message_data.content + `</p>
                                </div>`;
                            }
                        ).catch(error => console.log(error));
                    }
                }
            })
            .catch(error => {
                document.body.innerHTML = `
                <div class="layui-panel" id="message-panel" style="margin-bottom: 10px; padding: 10px; border: 0; border-radius: 5px; color: black; background-color: rgba(0, 0, 50, 0.3);">
                    <p>` + error + `</p>
                </div>`;
            });
        }
    , 500);
</script>
</html>